:root {
    --header-bg-color: #ff0000;
    --nav-bg-color: #ff9a00;
    --main-bg-color: #04a242;
    --article-bg-color:#1319ff;
    --footer-bg-color: #bd00ff;
}
.container{
    display: block;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}
.header{
    height: 60px;
    background-color: var(--header-bg-color);
}
.header__rubric{
    height: 60px;
}

.navigation{
    background-color: var(--nav-bg-color);
}
.navigation__section{
    height: 50px;

}